services:
  mysql:
    image: mysql:8.0
    container_name: zticket-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: zticket
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: zticket-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  redisinsight:
    image: redis/redisinsight:latest
    container_name: zticket-redisinsight
    ports:
      - "5540:5540"
    depends_on:
      redis:
        condition: service_healthy

#  app:
#    build: .
#    container_name: zticket-app
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/zticket?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
#      SPRING_DATA_REDIS_HOST: redis
#    depends_on:
#      mysql:
#        condition: service_healthy
#      redis:
#        condition: service_healthy

volumes:
  mysql-data:
